body {
    background-color: rgb(4, 24, 33);
    margin: 0;
    padding: 0;
}

header{
    display : flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

h1{
    color: white;
    display: flex;
    justify-content: flex-start;
    font-weight: 600;
}

h2 {
    font-size: 18px;
    font-weight: 400;
}

h6 {
    font-size: 17px;
}

.p {
    font-size: 14px;
}

footer {
    text-align: center;
    padding: 20px;
    color: grey;
    font-family: "Montserrat", sans-serif;
}

footer h2,
footer h3 {
    margin: 5px 0;
}


.vert {
    color: rgb(23, 222, 163);
}

.bordure {
    border-bottom-style: outset;
    border-bottom-width: 1px;
    font-weight: 400;
}

.yeseva {
    font-family: "Yeseva One", serif;
    font-weight: 400;
    font-style: normal;
    color: white;
}


.texte {
    font-family: "Yeseva One", serif;
    font-weight: 600;
    font-style: normal;
    color: white;
    font-size: 40px;
    margin-left: 20px;
}

.montserrat {
    font-family: "Montserrat", sans-serif;
    font-weight: 5px;
    font-style: normal;
    color: grey;
    margin-left: 20px;
    margin-bottom: 30px;
}


.icone {
    display: flex;
    justify-content: center;
    color: white;
    font-family: "Montserrat", sans-serif;
    gap: 20px;
    font-size: 20px;
    padding: 10px;
    margin-bottom: 20px;
}

h2 {
    /* white-space: nowrap; */
    margin: 0;

}

.encadre {
    background-color: rgb(23, 222, 163);
}

.grille {
    max-width: 1300px;
    width: 90%;
    margin: 30px auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    grid-gap: 10px;
}

.grille img {
    width: 100%;
    height: auto;
    object-fit: cover;
    max-width: 100%;
}

