body {
    background-color: rgb(4, 24, 33);
}

div{
    color: white;
    display : flex;
    justify-content: flex-end;
}

h1{
    color: white;
    display: flex;
    justify-content: flex-start;
    font-weight: 600;
}


footer {
    text-align: center;
    padding: 20px;
    color: grey;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: 5px;
    font-weight: 1px;
    font-style: normal;
}

footer h2,
footer h3 {
    margin: 5px 0;
}





.vert {
    color: rgb(23, 222, 163);
}

.bordure {
    border-bottom-style: outset;
    border-bottom-width: 1px;
    font-weight: 400;
}

.yeseva {
    font-family: "Yeseva One", serif;
    font-weight: 400;
    font-style: normal;
    color: white;
}


.texte {
    font-family: "Yeseva One", serif;
    font-weight: 600;
    font-style: normal;
    color: white;
    font-size: 50px;
    margin: 130px;
    margin-top: 70px;
}

.montserrat {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: 5px;
    font-weight: 5px;
    font-style: normal;
    color: grey;
    margin: 130px;
}


.icone {
    display: flex;
    justify-content: center;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: 5px;
    font-weight: 5px;
    font-style: normal;
    gap : 10px
}

.encadre {
    background-color: rgb(23, 222, 163);
}

.grille {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(250px, 1fr));
    gap: 20px;
    max-width: 1200px;
    margin: auto
}

img {
    display:block;
    width: 100%;
    height: auto;
    object-fit: cover;
}

