body {
    background-color: rgb(4, 24, 33);
}

.vert {
    color: rgb(23, 222, 163);
}

.bordure {
    border-bottom-style: outset;
    border-bottom-width: 1px;
    font-weight: 400;
}

.yeseva {
    font-family: "Yeseva One", serif;
    font-weight: 400;
    font-style: normal;
    color: white;
}

.montserrat {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: 5px;
    font-weight: 5px;
    font-style: normal;
    color: grey;
}

.texte {
    font-family: "Yeseva One", serif;
    font-weight: 400;
    font-style: normal;
    color: white;
}

.gauche {
    display: flex;
    justify-content: flex-start;
    font-family: "Yeseva One", serif;
    font-weight: 400;
    font-style: normal;
    color: white;
}

.droite {
    display: flex;
    justify-content: space-between;
    align-items: end;
    font-family: "Yeseva One", serif;
    font-weight: 400;
    font-style: normal;
    color: white;
}

.icone {
    display: flex;
    justify-content: center;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: 5px;
    font-weight: 5px;
    font-style: normal;
    display: flex;
    justify-content: space-around;
}

.encadre {
    background-color: rgb(23, 222, 163);
}

.grille {
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 25% 25% 25% 25%;
}

"id": "0",
"author": "Alejandro Escamilla",
"width": 5616,
"height": 3744,
"url": "https://unsplash.com/...",
"download_url": "https://picsum.photos/..."
}

.image {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    justify-items: center;
    gap: 0.6em;
}

footer {
    text-align: center;
    padding: 20px;
    color: grey;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: 5px;
    font-weight: 1px;
    font-style: normal;
}

footer h2,
footer h3 {
    margin: 5px 0;
}